<%= form_for(@meeting) do |f| %>
	<% if @meeting.errors.any? %>
		<div id="error_explanation">
			<h2>Error</h2>
			<ul>
			<% @meeting.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :title, 'タイトル', class:"control-label" %>
		<%= f.text_field :title, class:"form-control" %>
	</div>

	<div class="row">
		<div class="form-group col-xs-12">
			<%= f.label :body, '内容（マークダウン記法が使えます）', class:"control-label" %>
			<%= f.text_area :body, value:"## 概要\nイベントを開催します。\n\n## 参加条件\n誰でもOK！", class:"form-control meeting_body" %>
		</div>
		<div class="col-xs-12">
			<%= label_tag :preview, 'プレビュー', class:"control-label" %>
			<div class="preview">
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :image, '画像', class:"control-label" %>
		<%= f.file_field :image, class:"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :start_date, '日時', class:"control-label" %>
		<div>
			<div class="start-date">
				<%= f.datetime_select :start_date, class:"form-control" %>
			</div>
			<div class="dash"> 〜 </div>
			<div class="end-date">
				<%= f.datetime_select :end_date, class:"form-control end-date" %>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>

	<div class="row">
		<div class="form-group col-xs-12 col-sm-6">
			<%= f.label :place, '会場名', class:"control-label" %>
			<%= f.text_field :place, class:"form-control" %>
		</div>

		<div class="form-group col-xs-12 col-sm-6">
			<%= f.label :capacity, '定員', class:"control-label" %>
			<%= f.text_field :capacity, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :place_info, '会場の情報', class:"control-label" %>
		<%= f.text_field :place_info, class:"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :url, 'URL', class:"control-label" %>
		<%= f.text_field :url, value:"http://", class:"form-control" %>
	</div>	

	<div class="form-group create-button-area">
    <%= f.submit 'イベントの作成', class:"btn btn-default create-button" %>
  </div>

<% end %>
