<% @meetings.each do |meeting| %>

	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<%= image_tag meeting.image_url(:thumb).to_s, class:"img-responsive" %>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div>
				<%= meeting.title %>
			</div>
			<div>
				<%= meeting.start_date %> - <%= meeting.end_date %>
			</div>
			<div>
				<%= meeting.place %>
			</div>
		</div>
		<div>
			<%= meeting.body %>
		</div>
	</div>

<% end  %>