<div class="show">
  <div class="row meeting">
    <div class="col-xs-12 col-sm-9 meeting-main">
      <div class="meeting-title">
        <%= @meeting.title %>
      </div>
      <% if user_signed_in? && @meeting.user == current_user %>
        <div class="edit-meeting">
          <%= link_to '[編集]', edit_meeting_path(@meeting) %>
        </div>
      <% end %>
      <hr />
      <div class="smart-phone action-area">
        <% if !user_signed_in? %>
        <%= link_to "ログインして参加", user_omniauth_authorize_path(:facebook), class:"btn btn-default join-button" %>
        <% elsif @meeting.user == current_user %>
        <%# link_to 'イベントをキャンセルする', meetings_remove_path(@meeting) %>
        <% elsif @meeting.join_members.include?(current_user) %>
        <%= link_to 'キャンセル', meetings_cancel_path(@meeting), class:"btn btn-default join-button", method: :delete %>
        <% else %>
        <%= link_to '参加する', meetings_join_path(@meeting), class:"btn btn-default join-button", method: :post %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 meeting-image">
        <%= image_tag @meeting.image_url(:thumb).to_s, class:"img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-6 meeting-desc">
        <div class="col-xs-12 meeting_info">
          日時：
          <hr class="dot_line" />
          <%= @meeting.holds_at %>
        </div>
        <div class="col-xs-12 meeting_info">
          場所:
          <hr class="dot_line" />
          <div class="meeting-place">
            <%= @meeting.place %>
          </div>
          <div class="meeting-place-info">
            <%= @meeting.place_info %>
          </div>
        </div>
        <div class="col-xs-12 meeting_info">
          主催者:
          <hr class="dot_line" />
          <div class="user-info">
            <div class="user-info-image">
              <img src=<%= "https://graph.facebook.com/"+@meeting.user.uid+"/picture" if @meeting.user %> />
            </div>
            <div class="user-info-name">
              <%= @meeting.user.display_name if @meeting.user %>
            </div>
          </div>
        </div>
        <% if false %>
          <div class="col-xs-12 meeting_info">
            URL:
            <hr class="dot_line" />
            <div class="meeting-url">
              <%= @meeting.url %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 meeting_body"><%= @meeting.body %></div> 
    </div>
    <div class="col-xs-12 col-sm-3 meeting_members_info">
      <div class="action-area">
        <% if !user_signed_in? %>
        <%= link_to "ログインして参加", user_omniauth_authorize_path(:facebook), class:"btn btn-default join-button" %>
        <% elsif @meeting.user == current_user %>
        <%# link_to 'イベントをキャンセルする', meetings_remove_path(@meeting) %>
        <% elsif @meeting.join_members.include?(current_user) %>
        <%= link_to 'キャンセル', meetings_cancel_path(@meeting), class:"btn btn-default join-button", method: :delete %>
        <% else %>
        <%= link_to '参加する', meetings_join_path(@meeting), class:"btn btn-default join-button", method: :post %>
        <% end %>
      </div>
      <div class="attendance-title">
        参加者
      </div>
      <div class="attendance">
        (<span class="members-length">
          <%= @meeting.join_members.length %>
        </span>
         / 
        <span class="capacity">
          <%= @meeting.capacity %>
        </span>
        <span class="unit">人</span>)
      </div>
      <hr class="dot_line" />
      <div class="current_members">
        <% @meeting.join_members.each do |member| %>
        <div class="user-info col-xs-6 col-sm-12">
          <div class="user-info-image">
            <img src=<%= "https://graph.facebook.com/"+member.uid+"/picture" if member %> />
          </div>
          <div class="user-info-name">
            <%= member.display_name if member %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
