<div class="admin-users">
	<h2>ユーザー管理</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="user_id">ID</th>
				<th class="uid">uid</th>
				<th class="name">名前</th>
				<th class="nickname">H.N.</th>
				<th class="gender">性別</th>
				<th class="belonging">所属</th>
				<th class="birthday">誕生日</th>
				<th class="location">居住地</th>
				<th class="email">メールアドレス</th>
				<th class="meetings">参加イベント</th>
				<th class="last_sign_in_at">最終</th>
				<th class="created_at">作成</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.uid %></td>
				<td><%= user.name %></td>
				<td><%= user.nickname %></td>
				<td><%= user.gender %></td>
				<td><%= user.belonging %></td>
				<td><%= user.birthday %></td>
				<td><%= user.location %></td>
				<td><%= user.email %></td>
				<td>
					<ul>
					<% user.meetings.each do |meeting| %>
						<li><%= meeting.title %></li>
					<% end %>
					</ul>
				</td>
				<td><%= user.last_sign_in_at.strftime("%m/%d %H:%M") %></td>
				<td><%= user.created_at.strftime("%m/%d %H:%M") %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>