<div class="admin-users">
	<h2>ユーザー管理</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>uid</th>
				<th>名前</th>
				<th>H.N.</th>
				<th>性別</th>
				<th>所属</th>
				<th>誕生日</th>
				<th>居住地</th>
				<th>メールアドレス</th>
				<th>参加イベント</th>
				<th>Last</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.uid %></td>
				<td><%= user.name %></td>
				<td><%= user.nickname %></td>
				<td><%= user.gender %></td>
				<td><%= user.belonging %></td>
				<td><%= user.birthday %></td>
				<td><%= user.location %></td>
				<td><%= user.email %></td>
				<td>
					<ul>
					<% user.meetings.each do |meeting| %>
						<li><%= meeting.title %></li>
					<% end %>
					</ul>
				</td>
				<td><%= user.last_sign_in_at.strftime("%m/%d %H:%M") %></td>
				<td><%= user.created_at.strftime("%m/%d %H:%M") %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>