<!DOCTYPE html>
<html>
<head>
  <title>HackerMeetings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!-- Header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <div class="navbar-left">
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        <%= link_to 'HackerMeetings',root_path, class:"nav navbar-brand" %>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-right">
          <%= link_to image_tag("new_event.jpg"), new_meeting_path %>
        </div>
      <% end %>
    </div>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="sidebar-nav">
        <li>
          <%= image_tag("icon_event.png", class:"sidebar_icon") %>
          <a href="#" class="sidebar_text">Event</a>
        </li>
        <li> <a href="#">Calendar</a>
        </li>
        <li><a href="#">Myイベント</a>
        </li>
        <li><a href="#">Member</a>
        </li>
        <li><a href="#">Account</a>
        </li>
      </ul>
    </div>
    <!-- main -->
    <div class="main">
      <%# ここに各ページの実際のコンテンツが入ってくる %>
      <%= yield %>
    </div>

  </div>

</body>
</html>
