<!DOCTYPE html>
<html>
<head>
  <title>HackerMeetings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
  <!-- Header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <div class="navbar-left">
        <a href="#" class="btn btn-default menu-button">≡</a>
        <div class="header-icon">
        </div>
        <div class="brand">
          <%= link_to 'Hacker-Meetings',root_path, class:"nav navbar-brand" %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-right">
          <div class="link-new-meeting">
            <div class="plus-new-meeting">
              +
            </div>
            <div class="text-new-meeting">
              新規イベント作成
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="white-side"></div>
      <ul class="sidebar-nav">
        <% if controller.controller_name == 'meetings' %>
          <li class="nav-item-active meetings-path">
        <% else %>
          <li class="meetings-path">
        <% end %>
          <p>Event</p>
        </li>
        <li class="making">
          <p>Calendar</p>
        </li>
        <li class="making">
          <p>Myイベント</p>
        </li>
        <li class="making">
          <p>Member</p>
        </li>
        <% if controller.controller_name == 'registrations' %>
          <li class="nav-item-active users-edit-path">
        <% else %>
          <li class="users-edit-path">
        <% end %>
          <p>Account</p>
        </li>
      </ul>
    </div>
    <!-- main -->
    <div class="main">
      <div class="main_contents">
        <div class="container">
          <%# ここに各ページの実際のコンテンツが入ってくる %>
          <%= yield %>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
