<!DOCTYPE html>
<html>
<head>
  <title>HackerMeetings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if user_signed_in? %>

  <!-- Header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <div class="navbar-left">
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        <%= link_to 'HackerMeetings',root_path, class:"nav navbar-brand" %>
      </div>
      <div class="navbar-right">
        <%= link_to image_tag("new_event.jpg"), new_meeting_path %>
      </div>
    </div>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="icon_feed"><a href="#"></a>
        </li>
        <li class="icon_calendar"><a href="#"></a>
        </li>
        <li class="icon_friend"><a href="#"></a>
        </li>
        <li class="icon_setting"><a href="#"></a>
        </li>
      </ul>
    </div>

  <% else %>

  <div>

  <% end %>

    <!-- Container -->
    <div class="container">
      <%= yield %>
    </div>

  </div>

</body>
</html>
